<div class="right-drawer-container">
	<button class="slide-right-drawer">Instractions</button>
	<section class="side-drawer">
		<h1>Instractions</h1>
		<p>Drag the globe to your desired country or just click it! A pop-up window will apear with the country's 10 hottest trends and their popularity in the last 24 hours.</p>
		<p>The trend's popularity is being represented by a heat-map table that combined from 240 blocks with diferent colors.</p>
		<p>Every block represent the avarage popolarity in a two hours time frame where the most hot trend colored with red colour and the least with blue.</p>
		<p>That is our country's heat-map.</p>
		<p>Oh, you can also choose between viewing the last 10 trends and their 24 hours history or a daily map of the most active trends.</p>
		<p><span>Enjoy...!</span></p>
	</section>
</div>

<div class="left-drawer-container">
	<button class="slide-left-drawer">Information</button>
	<section class="side-drawer">
		<h1>Why Twendy?</h1>
		<p><span>Twendy</span>  provids a visual way to explor global Twitter trends in the last 24 hours.</p>
		<p>This easy-to-use application is allowing us to feel the world's pulse in the last 24 hours by traveling the world from our couch.</p>
		<p>Twitter currently tracking 62 countries and so do <span>Twendy</span> and we'll cover more countries as they will become available.</p>
		<p>Lets <span>Twendy</span>...</p>
	</section>
	<section class="side-drawer">
		<h1>What's Trends?</h1>
		<p>Twitter users send more than 95 million Tweets a day, on just about every topic imaginable. This is quite a lot to handle!</p>
		<p> When the volume of tweets about a given topic dramatically increases at a given moment, a Trend is being born!</p>
	</section>
</div>

