<div class="right-drawer-container">
	<button class="slide-right-drawer">Instractions</button>
	<section class="side-drawer">
		<h1>What does it do?</h1>
		<p><span>Twendy</span>  provids a visual way to explor global Twitter trends in the last 24 hours.</p>
	</section>
	<section class="side-drawer">
		<h1>Instractions</h1>
		<p>Drag the globe to your desired country and click it! A pop-up window will show up with the country's 10 hottest trends and their popularity in the last 24 hours.</p>
		<p>The trend's popularity is being represented by a heat-map table where the most hot trend marked with red colour and the least with blue.</p>
		<p>Every block of colour represent the avarage popolarity in a two hours time frame.</p>
		<p>Oh, you can also choose between viewing the last 10 trends and their 24 hours history or a daily map of the most active trends.</p>
		<p>Lets <span>Twendy</span>...</p>
	</section>
</div>