<div class="globe-container">
	<span class="top-helper-arrow"></span>
	<span class="bottom-helper-arrow"></span>
	<button id='rotate-left' class='rotate-button'></button>
	<button id='rotate-right' class='rotate-button'></button>
</div>