<div class='heatmap-container'>
	<img class="heatmap-bg">
	<button id="close-heatmap-button" type="button">Close</button>
	<h1></h1>
	<ul class="trends-list"></ul>
	<div class="chart-container"></div>
</div>