<div class='heatmap-container'>
	<img class="heatmap-bg">
	<button class="close-heatmap" type="button">Close</button>
	<h1></h1>
	<ul class="trends-list"></ul>
	<div class="chart-container"></div>
	<label class="timeline-slider">
    <input type="checkbox">
    <span id="slider"></span>
    <span id="slider-daily">daily</span>
    <span id="slider-now">now</span>
	</label>
	<div class='legend-bar'>
		<span>higher</span>
		<span>lower</span>
	</div>
</div>