<div class='heatmap-container'>
	<img class="heatmap-bg">
	<button id="close-heatmap-button" type="button">Close</button>
	<div class='legend-bar'><span>higher</span><span>lower</span></div>
	<h1></h1>
	<ul class="trends-list"></ul>
	<div class="chart-container"></div>
</div>