// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =============================
//  Using Rails pipeline helper    
// =============================

html {
	background: rgb(98,173,236) url(image-path('bg.jpg')) left bottom fixed no-repeat !important;
	-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}
#logo {
	background: url(image-path('logo.png')) 0 0 no-repeat;
}
button#rotate-left {
	background: url(image-path('left-arrow.png')) 0 0 no-repeat;
}
button#rotate-right {
	background: url(image-path('right-arrow.png')) 0 0 no-repeat;
}
button.close-heatmap {
	background: url(image-path('close-button.png')) 0 0 no-repeat;
}
span.top-helper-arrow {
	background: url(image-path('top-helper-arrow.png')) 0 0 no-repeat;
}
span.bottom-helper-arrow {
	background: url(image-path('bottom-helper-arrow.png')) 0 0 no-repeat;
}
