// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
	background: rgb(192,222,237) url(image-path('twitter-bg.png')) center center no-repeat;
}
#logo {
	background: url(image-path('logo.png')) 0 0 no-repeat;
	position: absolute;
	top: 30px;
	left: 30px;
	width: 300px;
	height: 90px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	z-index: 999999;
}
#rotate-left-button, 
#rotate-right-button {
	position: absolute;
	top: 320px;
	left: 320px;
	background: url(image-path('left-arrow.png')) 0 0 no-repeat;
	width: 48px;
	height: 80px;
	text-indent: 200%;
	outline: none;
	border: none;
	z-index: 99999;
}
#rotate-right-button {
	background: url(image-path('right-arrow.png')) 0 0 no-repeat;
	left: auto;
	right: 320px;
}
#rotate-left-button:hover, 
#rotate-right-button:hover {
	top: 322px;
	cursor: pointer;
}
#close-heatmap-button {
	background: url(image-path('close-button.png')) 0 0 no-repeat;
	overflow: hidden;
	white-space: nowrap;
	outline: none;
	border: none;
	text-indent: 200%;
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
}