// Place all the styles related to the Countries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// =============================
//  Using Rails pipeline helper    
// =============================

html {
	background: rgb(192,222,237) url(image-path('twitter-bg.png')) center center no-repeat;
}
#logo {
	background: url(image-path('logo.png')) 0 0 no-repeat;
}
button#rotate-left {
	background: url(image-path('left-arrow.png')) 0 0 no-repeat;
}
button#rotate-right {
	background: url(image-path('right-arrow.png')) 0 0 no-repeat;
}
button.close-heatmap {
	background: url(image-path('close-button.png')) 0 0 no-repeat;
}
