/* ========================= */
/*     Drawer CSS roles      */
/* ========================= */

.right-drawer-container,
.left-drawer-container {
	position: absolute;
	top: 0;
	right: -265px;
	background: rgba(40,40,40,.7);
	width: 265px;
	height: 100%;
	border-left: 2px solid white;
	box-shadow: -6px 0px 5px -2px rgba(40,40,40,.3);
	z-index: 9999;
}
.left-drawer-container {
	right: auto;
	left: -265px;
	border-left: none;
	border-right: 2px solid white;
	box-shadow: 6px 0px 5px -2px rgba(40,40,40,.3);
}
button.slide-right-drawer,
button.slide-left-drawer {
	position: absolute;
	top: -webkit-calc(50% - 46px);
	top: -moz-calc(50% - 46px);
	top: -o-calc(50% - 46px);
	top: calc(50% - 46px);
	right: 226px;
	padding: 8px 12px;
	border: 2px solid white;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	background: rgb(249,118,68);
	color: white;
	font-size: 16px;
	line-height: 16px;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
}
button.slide-left-drawer {
	right: auto;
	left: 226px;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	transform:rotate(90deg);
}
button.slide-right-drawer:focus,
button.slide-left-drawer:focus {
	outline: none;
}
.side-drawer h1 {
	background: rgb(249,118,68);
	color: white;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin: 22px 0;
	padding: 8px 0;
}
.side-drawer p {
	color: white;
	padding: 0px 20px;
	font-size: 16px;
}
.side-drawer span {
	color: rgb(249,118,68);
}