/* ========================= */
/*      Globe CSS roles      */
/* ========================= */

.globe-container {
  position: relative;
  width: 100%; 
  height: 100%;
  margin: 0px auto;
  background: #fff;
  color: #333;
}
.globe-container svg {
  position: absolute;
  top: 0;
  left: 0;
  fill: #fff;
}
.sphere {
  fill: none;
  fill: rgb(156,191,217);
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .4px;
  stroke-opacity: .4;
}
.country {
  fill: #dadac4;
  stroke: #666;
  stroke-width: 0.5px;
  transition: all 0.4s;
}
.country:hover {
  fill: #e56230;
  cursor: pointer;
}
.twitter-country {
  fill: rgb(115,169,238);
}
.active-country {
  fill: #e56230;
}
.country-tooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 3px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
}
