/* ========================= */
/*    Heat Map CSS roles     */
/* ========================= */

.heatmap-container {
	display: none;
	overflow: hidden;
	position: fixed;
  top: 9%;
  left: 14%;
  width: 72%;
	height: 82%;
	border-radius: 8px;
	border: 1px solid rgb(220,220,220);
	background: rgba(40,40,40,.7);
	-moz-box-shadow: 1px 6px 12px 5px rgba(40,40,40,.2);
  -webkit-box-shadow: 1px 6px 12px 5px rgba(40,40,40,.2);
  box-shadow: 1px 6px 12px 5px rgba(40,40,40,.2);
	z-index: 9999;
}
.heatmap-bg {
	position: absolute;
	top: -1%;
	left: -1%;
	width: 102%;
	height: 102%;
	opacity: .5;
	z-index: -9999;
}
#close-heatmap-button:hover {
	background-position: -48px 0;
}
.heatmap-container h1 {
	position: absolute;
	top: 16px;
	left: 30%;
	width: 40%;
	margin: 0;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: white;
}
.trends-list {
	position: absolute;
	bottom: 52px;
	right: 0;
	width: 400px;
	margin: 0;
	padding: 0;
	list-style: none;
	z-index: 9999;
}
.trends-list li {
	margin: 0;
	padding-left: 20px;
	font-size: 25px;
	line-height: 50px;
}
.trends-list a {
	transition: all 0.4s;
	text-decoration: none;
	color: white;
}
.trends-list a:hover {
	color: #e56230;
	cursor: pointer;
}
.trends-list a span {
	color: #e56230;
}
.trends-list a:hover span {
	color: white;
}
.chart-container {
	position: absolute;
	top: 0;
	left: 40px;
}
.chart-container svg {
	position: absolute;
}
rect.bordered {
  stroke: rgb(200,200,200);
  stroke-width: 2px;
  transition: all 0.4s;
}
rect.bordered:hover {
  stroke: #E6E6E6;
  stroke: #FFF;
}
.trend-tooltip {
  position: absolute;
  display: none;
  pointer-events: none;
  background: #fff;
  padding: 3px;
  text-align: left;
  border: solid #ccc 1px;
  color: #666;
  font-size: 12px;
  font-family: sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;  
  z-index: 99999;
}
text.intervalLabel {
	color: red;
	font-size: 4px;
	z-index: 0;
}
.legend-bar {
	position: absolute;
	bottom: 27px;
	left: 40px;
	background: rgba(120,120,120,.8);
	width: 596px;
	height: 25px;
	border: 1px solid rgb(200,200,200);
	border-radius: 0 0 4px 4px;
	font-size: 12px;
	line-height: 22px;
	color: rgb(240,240,240);
	z-index: -9;
}
.legend-bar span:first-child {
	margin-left: 8px;
}
.legend-bar span:last-child {
	margin-left: 512px;
}
.timeline-slider {
  overflow: hidden;
	position: absolute;
	bottom: 6px;
	right: 40px;
  border: 1px solid rgb(200,200,200);
  border-radius: 4px;
  width: 80px;
  height: 24px;
  margin: 20px auto;
  cursor: pointer;
}
.timeline-slider input {
  display: none;
}
.timeline-slider input:checked + #slider {
  left: 38px;
}
#slider {
	position: absolute;
  top: 0;
  left: -4px;
  width: 42px;
  height: 30px;
  background: rgb(60,60,60);
  transition: left .25s ease-out;
  z-index: 1;
}
#slider-now,
#slider-daily {
  position: absolute;
  top: 0px;
  width: 40px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  color: white;
}
#slider-now {
  background: #FF0a00;
  right: 0;
}
#slider-daily {
  background: #0084ff;
  left: 0;
}
