/* ========================= */
/*    Heat Map CSS roles     */
/* ========================= */

.heatmap-container {
	display: none;
	position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
	height: 80%;
	border-radius: 8px;
	border: 1px solid rgb(220,220,220);
	background: rgba(40,40,40,.7);
	z-index: 9999;
}
#close-heatmap-button:hover {
	background-position: -48px 0;
}
.chart-container {
	width: 100%;
	height: 100%;
}
.chart-container svg {
	position: absolute;
}
rect.bordered {
  stroke: rgb(200,200,200);
  stroke-width:2px;
}

rect.bordered:hover {
  stroke: #E6E6E6;
}

text.mono {
  font-size: 9pt;
  font-family: Consolas, courier;
  fill: #000;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
