/* ========================= */
/*   Application CSS roles   */
/* ========================= */

html {
	overflow: hidden !important;
}
#page {
	position: relative;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.clouds {
	position: absolute;
	top: 620px;
	left: 0;
	width: 100%;
	height: 160px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.clouds span {
	display: block;
	width: 100%;
	height: 160px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#logo {
	position: absolute;
	top: 40px;
	left: 40px;
	width: 300px;
	height: 90px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 9999;
}

@media screen and (max-width: 1280px) {
	#logo { left: 20px; }
}
@media screen and (max-width: 700px) {
	#logo { left: 28%; }
}